body {
	background-color: $white;

	margin: unset;
}

figure {
	margin: unset;
}

img {
	background-color: $white;
}

a {
	color: $primary;
	text-decoration: underline;

	&:focus,
	&:hover {
		color: lighten($primary, 20%);
	}

	&:active {
		color: darken($primary, 10%);
	}

	&[t-link-bg] {
		color: unset;
		text-decoration: unset;

		&:focus,
		&:hover {
			background-color: $primary;
		}

		&:active {
			background-color: darken($primary, 10%);
		}
	}

	transition: 100ms all ease-in-out;
}
