@import './variables';
@import './normalize';
@import './utils';

#players {
	display: flex;
	justify-content: center;
}

.player {
	display: inline-block;

	margin: 20px;
	padding: 30px;

	background-color: lighten($primary, 30%);
}
