@import './variables';
@import './normalize';
@import './utils';

#players {
	display: flex;
	justify-content: space-between;
}

.player {
	// Unset `<a>`'s default styles
	color: unset !important;
	text-decoration: unset;

	padding: 30px;

	background-color: lighten($primary, 30%);

	&:focus,
	&:hover {
		background-color: $primary;
	}

	&:active {
		background-color: darken($primary, 10%);
	}
}
